@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;600&display=swap');

* {
  font-family: 'Archivo', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {font-size: 40px;}
h3 {font-size: 25px;}

p {font-size: 16px};

.sec_p {
  font-size: 14px;
}

.third_p{
  font-size: 20px;
}

/* The sidebar menu */
.navbar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 225px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

  border-right: solid;
  border-color: #9C9FAC;
}

/* The navigation menu links */
.navbar a {
  margin:15px 10px 15px 10px;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #9C9FAC;
  display: block;
}

nav li a:hover,
nav li a.active{
  color: #F38B60;
  background-color: #FCD5B3;
  border-radius: 13px;
}

.main {
  margin-left: 225px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.todaybar {
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  height: 100%;
  width: 300px;
  background-color: gray;
  padding: 10px 25px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}